// Define Typeface Variables
$typeface-serif     : "chaparral-pro", Georgia, "Times New Roman", Times, serif;
$typeface-sansserif : "proxima nova", Helvetica, Verdana, Arial, sans-serif;
$typeface-monospace : "source-code-pro", "Lucida Console", Monaco, monospace;

// Define Font Weights
$fontThin        : 100;
$fontExtraLight  : 200;
$fontLight       : 300;
$fontRegular     : 400;
$fontMedium      : 500;
$fontSemiBold    : 600;
$fontBold        : 700;
$fontExtraBold   : 800;
$fontBlack       : 900;