html {
  box-sizing: border-box;
  background-color: $color-primary-blue;
  font-size: 18px;
}

#wrapper {
  max-width: 1250px;
  background-color: #fff;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

#siteHeader {
  max-height: 150px;



  #masthead {
    display: block;
    margin: 0;
    text-align: left;

    img {
      max-height: 150px;
      margin-right: auto;
    }
  }
}

#{headings(1,6)} {
  font-family: $typeface-sansserif;
}

.pageHeadline,
.postHeadline {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
  padding: 0;

}

p {
  font-family: $typeface-serif;
}

main {
  @include clearfix;
}

article {
  @include clearfix;
}

footer#pageFooter {
  @include clearfix;
}
